doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 "The Future Home of Something Awesome!"
    p Coloring book squid roof party cloud bread food truck copper mug organic, meditation put a bird on it. YOLO four dollar toast VHS chambray letterpress kogi bicycle rights blue bottle. Intelligentsia irony DIY, meh cloud bread street art +1 fingerstache distillery hoodie bitters. Swag gentrify cardigan glossier leggings ethical artisan normcore craft beer mixtape 3 wolf moon cold-pressed. Brooklyn cliche whatever craft beer artisan letterpress. Selfies gastropub seitan, readymade bushwick snackwave knausgaard butcher chillwave cliche. Gastropub paleo tumblr hella viral iPhone. Synth master cleanse squid gochujang locavore, brunch scenester church-key microdosing. Heirloom vegan post-ironic tumblr selfies. Hot chicken meggings slow-carb iceland migas.
  
